LDM/FASE CUATRO/Clasificacion XML/clasificaciones_dtd_v2.dtd

<!ELEMENT competiciones (competicion+)>
<!ELEMENT competicion (nombre_comp, juego, equipos, fecha)>
<!ATTLIST competicion id ID #REQUIRED>
<!ELEMENT nombre_comp (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>

<!ELEMENT juego (nombre_juego)>
<!ATTLIST juego id ID #REQUIRED>
<!ELEMENT nombre_juego (#PCDATA)>

<!ELEMENT equipos (equipo+)>
<!ELEMENT equipo (nombre_eq, puntos_totales)>
<!ATTLIST equipo id ID #REQUIRED>
<!ELEMENT nombre_eq (#PCDATA)>
<!ELEMENT puntos_totales (#PCDATA)>
